button,
div,
form,
input {
    margin: 10px;
    color: black;
}

body {
    background-image: url(../images/throne.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#form {
    background-color: grey;
    opacity: 0.8;
}

header {
    text-align: center;
    color: #333333;
background: #FFFFFF;
text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}

h1 {
    font-size: 5.5rem;
}